
/* :root {--background-light: #ffffff;--text-color-light: #333333;--background-dark: #1f1f1f;--text-color-dark: #ffffff; } */
  /* body {background-color: var(--background-light); color: var(--text-color-light); } */
  /* @media (prefers-color-scheme: dark) {body {background-color: var(--background-dark); color: var(--text-color-dark); }} */

  body {zoom: 95%;
    /* background: rgb(255,213,255);
    background: linear-gradient(194deg, rgba(255,213,255,0.24708153735632188) 4%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 34%, rgba(34,255,160,0.1292654454022989) 65%); */
  } 
.topSide{margin:165px;}
.container {display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start;
          margin-top: 100px;  }
          .leftSide {margin: 0px; display: flex; flex-direction: column; padding-top: 35px;
            background: rgb(135,135,135);
          background: linear-gradient(76deg, rgba(135,135,135,0.46964723389355745) 15%, rgba(255,255,255,0.1227678571428571) 60%);}


.rightTop {
  background-color: rgba(255, 255, 255, .8);
  margin: 35px; 
  position: fixed;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  top: 30px;
  right: 0;
  z-index:1;
  width: 35%;
  text-align: center; 
}
.rightMiddle {
  background-color: rgba(255, 255, 255, .8);
  margin: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  top: 45%; 
  transform: translateY(-50%); 
  height: auto; 
  right: 0;
  z-index: 1;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightBottom {
background-color: rgba(255, 255, 255, .8);
margin: 35px; 
position: fixed;
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
border-radius: 50px;
bottom: 30px;
right: 0;
z-index:1;
width: 35%;
text-align: center; 
}
.lineTitle {margin-left: 10px; }
button {margin-bottom: 10px; }
.no-bullets-top, .no-bullets-bottom, .no-bullets-middle{list-style: none; padding-left: 0;padding:7px;font-size: 20px;}
p{margin:8px; font-size: 20px;}    
.resetButton{border-radius: 20px;  border: none;  padding: 10px 20px; position: fixed; right:197px; bottom:0;
  background-color: rgb(233, 233, 233); 
  z-index: 4; opacity: 50%;}
span{margin:0px 4px;}
.checkboxes{padding-left: 35px;}
h2{opacity:0.5;}
.rightTop h2{color: #a10000;}
.rightBottom h2{color: green;}


.checkbox-line {
  margin: 0px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  position: relative; 
}

.checkbox-line:hover .tooltip {display: block;}

.tooltip {
  position: absolute; 
  left: 90%; 
  background-color: rgba(255, 255, 255, 0.0);
  color: rgb(130, 130, 130);
  padding: 5px 10px;
  z-index: 21;
  font-size: 14px;
  white-space: nowrap;
  display: none; 
  pointer-events: none; 
}

.tooltip img {
  position: relative;
  top: -100px;
  width: 600px; 
  height: auto;
  display: block; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes moveUpDown {0% {transform: translateY(0) translateX(0) rotate(40deg); /* Starting position with rotation */}
  50% {transform: translateY(-25px)  translateX(30px) rotate(40deg); /* Move up with rotation */}
  100% {transform: translateY(0) translateX(0) rotate(40deg); /* Back to the starting position with rotation */}}
/* Apply the animation to .redCircle and .redCircle2 */
.redCircle, .redCircle2 {animation: moveUpDown 3s ease-in-out infinite;}

.redCircle {
  width: 230px; 
  height: 50px;
  transform: translateY(-50%) rotate(40deg); /* Initial rotation angle */
  background: rgb(255,77,77);
  background: linear-gradient(133deg, rgba(255,77,77,0.8534007352941176) 29%, rgba(232,34,255,0.8309917717086834) 65%);
  border-radius: 50%; 
  opacity: 55%;
  position: fixed;
  right: 220px;
  top: 5%; 
  z-index: 0; 
  filter: blur(50px); 
}
@keyframes moveUpDownRedCircle2 {0% {transform: translateY(0) rotate(120deg); /* Starting position with a different rotation */}
  50% {transform: translateY(-40px) rotate(120deg); /* Move up with a different rotation */}
  100% {transform: translateY(0) rotate(120deg); /* Back to the starting position with a different rotation */}}
.redCircle2 {
  width: 190px; 
  height: 50px;
  transform: translateY(-50%) rotate(120deg); /* Initial rotation angle */
  background: rgb(245,107,41);
  background: linear-gradient(133deg, rgba(245,107,41,0.9318321078431373) 29%, rgba(242,24,24,0.8309917717086834) 77%);
  border-radius: 50%;
  opacity: 70%;
  position: fixed;
  right: 50px;
  top: 13%; 
  z-index: 0; 
  filter: blur(70px); 
  animation: moveUpDownRedCircle2 3s ease-in-out infinite; /* Apply animation with different rotation */
}
@keyframes moveUpDownRedCircle3 {0% {transform: translateY(0) translateX(0) rotate(60deg); /* Starting position with a different rotation */}
  50% {transform: translateY(-40px) translateX(-30px) rotate(60deg); /* Move up with a different rotation */}
  100% {transform: translateY(0) translateX(0) rotate(60deg); /* Back to the starting position with a different rotation */}}
.redCircle3 {
  width: 250px; 
  height: 70px;
  transform: translateY(-50%) rotate(60deg); /* Initial rotation angle */
  background: rgb(25,201,17);
  background: linear-gradient(133deg, rgba(25,201,17,0.8562018557422969) 16%, rgba(24,242,230,0.6909357492997199) 82%);
  border-radius: 50%;
  opacity: 35%;
  position: fixed;
  right: 275px;
  top: 96%; 
  z-index: 0; 
  filter: blur(50px);
  animation: moveUpDownRedCircle3 3s ease-in-out infinite; /* Apply animation with different rotation */
}
@keyframes moveUpDownRedCircle4 {0% {transform: translateY(0) rotate(160deg); /* Starting position with a different rotation */}
  50% {transform: translateY(-60px) rotate(160deg); /* Move up with a different rotation */}
  100% {transform: translateY(0) rotate(160deg); /* Back to the starting position with a different rotation */}}
.redCircle4 {
  width: 220px; 
  height: 50px;
  transform: translateY(-50%) rotate(160deg); /* Initial rotation angle */
  background: rgb(25,201,17);
  background: linear-gradient(133deg, rgba(25,201,17,0.8562018557422969) 18%, rgba(24,242,230,0.8477984943977591) 74%);
  opacity: 60%;
  position: fixed;
  right: 40px;
  top: 90%; 
  z-index: 0; 
  filter: blur(50px); 
  animation: moveUpDownRedCircle4 3s ease-in-out infinite; /* Apply animation with different rotation */
}

.checkbox-label{opacity: 60%;}  

.checkbox-line[data-tooltip="30"] .tooltip img {  width: 1100px;  height: auto; right:300px; top:-300px}
.checkbox-line[data-tooltip="31"] .tooltip img {  width: 1100px;  height: auto; right:300px; top:-340px}
